@media(max-width: 1180px) {
    .articles_items {
        display: flex;
        justify-content: center;
        margin-top: 0;
    }

    .article_item {
        margin-top: 50px;
    }

    #row_1, #row_2 {
        flex-direction: column;
    }

    #row_2 {
        margin-top: 0;
        margin-left: 50px;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .about_us_img {
        margin-top: 50px;
    }
}

@media(max-width: 1030px) {
    .content {
        display: flex;
        flex-direction: column;
    }

    .about_us_img {
        margin-top: 50px;
    }
}

@media(max-width: 800px) {
    .articles_items {
        flex-direction: column;
        margin-top: 0;
    }

    .article_item {
        margin: auto;
        margin-top: 50px;
    }

    #row_2 {
        margin: 0;
    }
}

@media(min-width: 708px) {
    .menu {
        display: none;
    }
}

@media(max-width: 707px) {
    .logotype span,
    .navbar,
    .move_top {
        display: none;
    }

    main { background-attachment: scroll; }
}

@media(max-width: 750px) {
    .slider_button {display: none;}
}

@media(max-width: 560px) {
    .about_us_img,
    .about_us_text {
        width: 100%;
    }
}

@media(max-width: 500px) {
    h1 {
        font-size: 100px;
    }
}

@media(max-width: 430px) {
    .article_item {
        width: 100%;
    }
}

@media(max-width: 400px) {
    h1 {
        font-size: 80px;
    }
}